<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FnD | About Us</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <style>
        body {
            /* background-image: url('static/background.png');
            background-repeat: no-repeat;
            background-attachment: fixed; */
        }
    </style>
    <body>
        <div class="container mt-3 mb-3">
            <div class="navbar navbar-expand-lg container row justify-content-between p-3">
                <div class="col-6">
                    <img src="static/logo.svg" alt="logo">
                </div>
                <button class="col-6 navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="color: #1F2A9D;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-6 navbar-collapse collapse justify-content-end" id="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link active" href="{{ url_for('news')}}" style="color: #1F2A9D;">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about')}}" style="color: #1F2A9D;">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container p-2 text-center" style="color: #1F2A9D;">
            <div class="row d-flex justify-content-around">
                <div class="col-6 text-start">
                    <h1 class="p-3" style="font-size: 48px;"><b>Fake News Detection</b></h1>
                    <p class="p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, soluta. Sunt unde tenetur minima sint architecto illo in doloribus nobis molestias eaque dolorum, quo vitae tempore, natus ratione dignissimos quidem?</p>
                    <a class="btn p-3 text-white" href="#start" style="text-decoration: none; border-radius: 40px; background: #6470D6;">Lets Demo</a>
                </div>
                <div class="col-6">
                    <img style="max-width: 512px; height: auto;" src="static/amico.png" alt="">
                </div>
            </div>
        </div>

        <div class="container p-2 justify-content-center text-center" style="color: #1F2A9D;">
            <p class="p-2" style="border: 3px solid #6470D6; border-radius: 30px; font-size: larger;">Diawal 2022, Kominfo sudah menemukan sebanyak 9.546 berita Hoax di Internet.
                Jumlah berita Hoax yang ada mungkin akan terus bertambah hingga sekarang ini.</p>
        </div>

        <div id="start" class="container p-2 text-center" style="color: #1F2A9D;">
            <h1 class="p-3" style="font-size: 48px;"><b>Input text and Predict</b></h1>
            <form action="{{ url_for('hasil')}}" method="POST">
                <div class="mb-3">
                    <label for="isiberita" class="form-label">Masukkan berita yang akan di cek</label>
                    <textarea class="form-control" id="isiberita" name="isiberita" rows="6"></textarea>
                    <div class="pe-5 col-4 justify-content-end">
                        <button class="m-4 btn" style="width: 20vh; border: 1px solid #6470D6; border-radius: 35px;" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
