<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FnD | News</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <style>
        body {
            background-image: url('static/amico.png');
            background-position: 110% 280%;
            height: 10vh;
            background-size: 50%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    <body>
        <div class="container mt-3 mb-3">
            <div class="navbar navbar-expand-lg container row justify-content-between p-3">
                <div class="col-6">
                    <img src="static/logo.svg" alt="logo">
                </div>
                <button class="col-6 navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="color: #1F2A9D;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-6 navbar-collapse collapse justify-content-end" id="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home')}}" style="color: #1F2A9D;">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link active" href="{{ url_for('news')}}" style="color: #1F2A9D;">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about')}}" style="color: #1F2A9D;">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="p-2 text-center" style="color: #1F2A9D;">
            <h1 style="font-size: 48px;"><b>News</b></h1>
            <p>Kumpulan Top-Headline News Indonesia terkini.</p>
        </div>

        <div class="container pb-3">
            {% for news in newsapi %}
            <div class="shadow-sm rounded-3 mb-3" style="background-color: #DCE0FD;">
                <div class="row">
                    <div class="col-3 justify-content-center">
                        <div class="bg-image rounded-5 m-3" style="background-image: url('{{ news['urlToImage'] }}'); height: 200px; background-repeat: no-repeat; background-position: center; background-attachment: inherit;  background-size: 200%;"></div>
                    </div>
                    <div class="col-8 align-content-around p-3" >
                        <h3>{{ news['title'] }}</h3>
                        <p>{{ news['description'] }}</p>
                        <a href="{{ news['url'] }}">selengkapnya.....</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="pt-3 pb-5 container text-center">
            <a class="" href="#">kembali keatas</a>
        </div>
<!-- 
        <div class="container-fluid" style="background-color: #6470D6; max-height: 35\vh;">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <img class="col-4 p-5" src="static/logowhite.png" alt="" style="height: auto;">
                    <p class="col-5 m-5 text-end">Kembalikan yang nyata demi kebaikan bangsa.</p>
                </div>
            </div>
        </div> -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
